//#top, #bottom, #left, #right {
	background: #ffffff;
    position: fixed;
    z-index: 1;
    }
    
//#left, #right {
    top: 0; bottom: 0;
    width: 15px;
    }

    #left { left: 0; }
    #right { right: 0; }
    
//#top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }

    #top { top: 0; }
    #bottom { bottom: 0; }

@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
    #top, #bottom, #left, #right { display: none; }
}

.scrolled {
    background-color: #ffffff !important;
    transition: all .3s ease-in-out;
}

.scrolled-text {
    color: #333333 !important;
    fill: #333333!important;
    transition: all .3s ease-in-out;
}

@font-face {
    font-family: Product Sans;
    src: url(../assets/fonts/product-sans-regular.ttf);
    }
    
@font-face {
    font-family: Product Sans;
    font-weight: bold;
    src: url(../assets/fonts/product-sans-bold.ttf);
    }

@font-face {
    font-family: Product Sans;
    font-style: italic;
    src: url(../assets/fonts/product-sans-italic.ttf);
    }

@font-face {
    font-family: Product Sans;
    font-weight: bold;
    font-style: italic;
    src: url(../assets/fonts/product-sans-bold-italic.ttf);
    }

.typing-text::after {
    content: "|";
    animation: blink ease 1s infinite;
    }
    
    @keyframes blink {
    0%, 100% {
        opacity: 0;
    } 50% {
        opacity: 1;
    }
}

.font {
    font-family: "Product Sans" !important;
}

a {
    color: none;
}

body {
    font-family: "Product Sans" !important;
    font-weight: 100;
}

strong {
    font-weight: 600 !important;
}

.center {
    text-align: center;
}

.hero-body-cele {
    background-image: url(../assets/img/homesquare-gradient.jpeg;)
}

.paul {
    background-image: url(../assets/img/Paul/Paul.jpg) !important ;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all .3s ease-in-out;
}

.navbar-text {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: .9rem;
    transition: all .3s ease-in-out;
}

//.navbar-shadow {
    box-shadow: 0 4px 20px -12px #0000008f;
}

.navbar-item {
    color: #FFFFFF;
}

a.navbar-item:hover {
    transition: ease-in-out .2s;
    color: #eeeeee !important;
}

.is-transparent {
    background-color: transparent !important;
    transition: all .3s ease-in-out;
}

.navbar-item img {
    max-height: 2.5rem !important;
    max-width: 2.5rem;
}

.footer-img {
    max-height: 2.5rem !important;
    max-width: 2.5rem;
    margin-bottom: 15px;
}

.no-padding {
    padding: 0;
}

.cele-title {
    color: #ffffff !important;
    font-weight: 100 !important;
    font-size: 2.5em;
}

.cele-title-dark {
    color: #333333 !important;
    font-weight: 100;
    font-size: 2.5em;
}

.cele-subtitle-dark {
    color: #333333 !important;
    font-weight: 100;
    font-size: 1.5em;
}

.cele-title-type {
    color: #ffffff !important;
    font-weight: 900 !important;
    font-size: 2.5em;
}

.cele-thin {
    padding-right: 0;
}

.main-jumbo {
    background-image: url(../assets/img/homesquare-gradient2.jpg);
    background-position: center;
}

.cele-full {
    margin-bottom: 50px;
    width: 8rem;
}

.arrow {
    white-space: nowrap;
    font-size: 4rem;
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    transform: translateY(0);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 750ms ease-in-out;
    -ms-transition: all 750ms ease-in-out;
    -o-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
    color: #ffffff;
}
  
 
.lift {
    transform: translateY(6px);
}

@media (max-width: 1088px) {

        .navbar-item {
             color: #9DC7C4;
             text-align: center !important;
        }

        .navbar-burger {
            color: #ffffff;
        }

}

@media (max-width: 536px) {

    .cele-title {
        font-size: 1.6em;
    }
    
    .cele-title-type {
        font-size: 1.6em;
    }

    .cele-full {
        width: 6rem;
    }

    .arrow {
        font-size: 3rem;
    }

}

.footer {
    background-color: #333333;
    padding: 3rem 3rem 3rem;
}

.button.primary-btn {
    background-color: #A9CAC8 !important;
    border-color: #A9CAC8 !important;
    border-radius: 0px;
}

.button.primary-btn.raised:hover {
    box-shadow: 0 14px 26px -12px rgba(169, 202, 200, 0.48),0 4px 23px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(169, 202, 200, 0.48) !important;
}

.chat-icon-box .box-title {
    padding: 5px 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #333333;
}

.icons {
    font-size: 50px;
    color: #777777;
}

.icons-video {
    font-size: 60px;
    color: #ffffff;
}

.video-text {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.side-block .background-wrapper .video-wrapper .playbutton {
    position: absolute;
    top: 0% !important;
    left: 0% !important;
    margin-top: 70px !important;
    margin-left: 0px !important;
    position: relative !important;
}

.box-content {
    color: #888888;
}

.section-title-landing {
    color: #444444 !important;
}

.section .title.quick-feature {
    font-size: 2.7rem;
    color: #444444 !important;
    position: relative;
}

.section .title-divider {
    margin: 10px 0;
    width: 40px;
    height: 4px;
    background: #A9CAC8 !important;
}

a.navbar-item:hover {
    transition: ease-in-out .2s;
    color: #A9CAC8 !important;
    background-color: transparent !important;
}

.portfolio .portfolio-item img {
    border-radius: 10px;
    max-height: 100% !important;
    display: block;
}

.portfolio .portfolio-item .circle-overlay {
    position: absolute;
    top: -60px;
    left: -60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #9cc7c4d6 !important;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s;
    z-index: 1;
}

.bottom-space {
    margin-bottom: 60px !important;
}

.side-block .background-wrapper .sj{
    background-image: url(../assets/img/paul/S&J.png);
    background-position: center;
    background-size: cover;
}

.side-block .background-wrapper .ck{
    background-image: url(../assets/img/paul/C&K.png);
    background-position: center;
    background-size: cover;
}

.side-block .background-wrapper .mt{
    background-image: url(../assets/img/paul/M&T.png);
    background-position: center;
    background-size: cover;
}